@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html, body {
    text-align: center;
    height: 100%;
    margin: 0 ;
    display: flex;
    flex-direction: column;
}
form {
    margin-top: 50px;
}
input[type=text] {
    padding: 15px;
    width: 270px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}
button {
    padding: 15px 15px;
    border: none;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0b7dda;
}
.result {
    font-size: 1.5em;
    margin-top: 20px;
    color: #333;
}
header{
    font-family: "DM Serif Text", serif;
    display: flex;
    align-items: center;
    background-color: #2941cb;
    color: white;
    height: 14vh;
    padding: 0 20px;
 
    
}
header img {
    height: 95px;
    width: 95px;
    margin-right: 15px;
   
       
}
.title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 40px;
    letter-spacing: 1px;

}
.weather-box{
    background-color: transparent;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 7%;
    border-width: 5px;
    border-style:solid;
    
}
.context{
    font-family: "Playfair Display", serif;
    flex: 1;
    display: flex;
    justify-content: center;   
    align-items: center;  
    flex-direction: column;
    background-image: url('https://res.cloudinary.com/dwkoy5wtd/image/upload/v1748754196/image-3_mk6mqt.jpg');  
   
}
.scroll-text{
    font-size: larger;
    font-weight: bold;
    background-color: transparent;
}
.site-footer {
    background-color: #2941cb;
    color: white;
    text-align: center;
    padding: 3px 0;
    font-size: 0.9rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
.down-context{
    display: flex;
    justify-content: center;
    
}
.copy{
    margin-right: 40vh;
    padding-top: 15px;
    font-size: 17px;
}
.bio{
    font-size: 15px;
}
.logo{
    height: 80px;
    width:80px;
    margin-left: 130px;
    
}
.forecast {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.day {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    border-width: 3px;
    border-style:solid;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}